@model IEnumerable<Servico>
@{
    ViewData["Title"] = "Lista";
}

<table class="table">
    <thead class="thead-dark">
        <th>Id</th>
        <th>Nome</th>
        <th>Setor</th>
        <th>Preço</th>
        <th>Unidade</th>
        <th>DataServiço</th>
        <th>Colaborador</th>

    </thead>
    @foreach (Servico s in Model)
    {
        <tr>
            <td>@s.Id</td>
            <td>@s.Nome</td>
            <td>@s.Setor</td>
            <td>@s.Preco</td>
            <td>@s.Unidade</td>
            <td>@s.DataServico.ToShortDateString()</td>
            <td>@s.Colaborador</td>

            <td>
                <a href="/Servico/Remover?Id=@s.Id" onclick="return confirm('Deseja mesmo excluir?')">Remover</a>
                <a href="/Servico/Editar?Id=@s.Id">Alterar</a>

            </td>
        </tr>

    }
    </thead>

</table>